body {
  height: 100vh;
  float: left;
  width: 100%;
  position: relative; }
  body .container h1 {
    color: red; }
  body #box {
    width: 150px;
    height: 150px;
    background-color: red;
    opacity: .1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }
  body .posicion {
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10; }
  body .level {
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20; }
  body span.enemy {
    transition: all 2s ease;
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    z-index: 22;
    top: 0;
    left: 0px; }
